/* body {
    background:black; Check this section later
} */

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

h2 {
    text-align:center;
    font-size:18px;
}

h2 span {
    font-size: 10px;
    font-weight: normal;
}

h4 {
    text-align: center;
}