<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			
			<link rel="stylesheet" href="/static/lib/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="/static/css/main_viz.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!-- <li><a href="/about">About</a></li> -->
	        		<li><a href="/cv">CV</a></li>
	        		<!-- <li><a href="/blog">Blog</a></li> -->
	        		<li><a href="/viz">Viz</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jonasgdecastro@gmail.com">jonasgdecastro@gmail.com</a></li>
	        		<li><a href="https://github.com/jonasca">github.com/jonasca</a></li>
	        		<li><a href="https://www.linkedin.com/in/jonas-de-castro-25831970">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
